rdc-dev-azdf/PartialArmTemplates/ArmTemplate_4_23_2020_19_59_51.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rdc-dev-azdf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_AP_DEFERMENTS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipe_BIA_AP_DEFERMENTS_V\nSource: EBS\nDestination: Azure OAC",
				"activities": [
					{
						"name": "Copy BIA_AP_DEFERMENTS_V",
						"description": "Copy BIA_AP_DEFERMENTS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_AP_DEFERMENTS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "LINE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EVENT_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "EVENT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AE_LINE_NUM",
											"type": "String"
										},
										"sink": {
											"name": "AE_LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLA_ACCOUNT",
											"type": "String"
										},
										"sink": {
											"name": "XLA_ACCOUNT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AP_LINES_DEPARTMENT",
											"type": "String"
										},
										"sink": {
											"name": "AP_LINES_DEPARTMENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AP_LINES_ACCOUNT",
											"type": "String"
										},
										"sink": {
											"name": "AP_LINES_ACCOUNT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_SL_LINK_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "GL_SL_LINK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_SL_LINK_TABLE",
											"type": "String"
										},
										"sink": {
											"name": "GL_SL_LINK_TABLE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENTERED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "ENTERED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ENTERED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "ENTERED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ACCOUNTED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "ACCOUNTED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ACCOUNTED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "ACCOUNTED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLA_LINE_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "XLA_LINE_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACCOUNTING_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "ACCOUNTING_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LEDGER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "LEDGER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_SITE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "VENDOR_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUESTER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUESTER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "GL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PARTY_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_SITE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AP_LINE_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "AP_LINE_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEFERRED_ACCTG_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "DEFERRED_ACCTG_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEF_ACCTG_START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DEF_ACCTG_START_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DEF_ACCTG_END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DEF_ACCTG_END_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DEFERRED_MONTHS",
											"type": "Double"
										},
										"sink": {
											"name": "DEFERRED_MONTHS",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WFAPPROVAL_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "WFAPPROVAL_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DISCARDED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "DISCARDED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EXPENDITURE_ITEM_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "EXPENDITURE_ITEM_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PROJECT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TASK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "TASK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_ID",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_LINE_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUISITION_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CHECK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CHECK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "SHIP_TO_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_DESTINATION_ORG_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_DESTINATION_ORG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "GL_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORG_LOCATION",
											"type": "Double"
										},
										"sink": {
											"name": "ORG_LOCATION",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_AP_DEFERMENTS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_AP_DEFERMENTS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Purchasing"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ebs_BIA_AP_DEFERMENTS_V')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BICS_AP_INVOICE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BICS_AP_INVOICE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_SF_BUILT_TMP",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PARTY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_COUNTRY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_CITY",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_CITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_STATE",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_STATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_COUNTY",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_COUNTY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_NUM",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_NUM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "INVOICE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "INVOICE_AMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_AMOUNT_PAID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_AMOUNT_PAID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_DISCOUNT_AMOUNT_TAKEN",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_DISCOUNT_AMOUNT_TAKEN",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_AMT_APPL_TO_DISCOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_AMT_APPL_TO_DISCOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_PAYMENT_STATUS_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_PAYMENT_STATUS_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_APPROVED_AMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_APPROVED_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_CANCELLED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "INVOICE_CANCELLED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "INVOICE_CANCELLED_AMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_CANCELLED_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_GL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "INVOICE_GL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "INVOICE_PAYMENT_METHOD_CODE",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_PAYMENT_METHOD_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_PARTY_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_PARTY_SITE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_REMIT_TO_SUPPLIER_NAME",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_REMIT_TO_SUPPLIER_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REMIT_TO_SUPPLIER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "REMIT_TO_SUPPLIER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REMIT_TO_SUPPLIER_SITE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "REMIT_TO_SUPPLIER_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_LINE_NUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_LINE_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "INV_LINE_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_TAX_LINE",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_TAX_LINE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INV_LINE_REQUESTER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_LINE_REQUESTER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_LINE_MATCH_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "INV_LINE_MATCH_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INV_LINE_ACCOUNTING_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "INV_LINE_ACCOUNTING_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "INV_LINE_PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "INV_LINE_PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INV_LINE_AMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_LINE_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_LINE_QUANTITY_INVOICED",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_LINE_QUANTITY_INVOICED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UNIT_MEAS_LOOKUP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_MEAS_LOOKUP_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INV_LINE_UNIT_PRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_LINE_UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_LINE_CANCELLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "INV_LINE_CANCELLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INV_LINE_PO_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_LINE_PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_LINE_PO_LINE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_LINE_PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_LINE_PO_LINE_LOCATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_LINE_PO_LINE_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_LINE_PO_DISTRIBUTION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_LINE_PO_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_LINE_TAX_RATE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "INV_LINE_TAX_RATE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INV_LINE_TAX_RATE",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_LINE_TAX_RATE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_DIST_PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "INV_DIST_PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INV_DIST_AMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_DIST_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_DIST_QTY_INVOICED",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_DIST_QTY_INVOICED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_NUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_DIST_UNIT_PRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "INV_DIST_UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_DIST_PROJECT",
											"type": "String"
										},
										"sink": {
											"name": "INV_DIST_PROJECT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INV_DIST_COST_CODE",
											"type": "String"
										},
										"sink": {
											"name": "INV_DIST_COST_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INV_DIST_COST_CLASS",
											"type": "String"
										},
										"sink": {
											"name": "INV_DIST_COST_CLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INV_DIST_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "INV_DIST_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_DISTRIBUTION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DISTRIBUTION_LINE_NUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "DISTRIBUTION_LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DIST_CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "DIST_CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_DIST_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "INV_DIST_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INV_DIST_ASSETS_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "INV_DIST_ASSETS_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DSYS_INSTANCE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "DSYS_INSTANCE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DSYS_PROCESS_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "DSYS_PROCESS_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DSYS_BATCH_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "DSYS_BATCH_ID",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "aoac_BICS_AP_INVOICE",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BICS_AP_INVOICE",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Purchasing"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BICS_AP_JOB_COST_EXTRACT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BICS_AP_JOB_COST_EXTRACT",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BICS_AP_JOB_COST_EXTRACT",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PARTY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_NUM",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_NUM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_AMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AMOUNT_PAID",
											"type": "Decimal"
										},
										"sink": {
											"name": "AMOUNT_PAID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DISCOUNT_AMOUNT_TAKEN",
											"type": "Decimal"
										},
										"sink": {
											"name": "DISCOUNT_AMOUNT_TAKEN",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "INVOICE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SOURCE",
											"type": "String"
										},
										"sink": {
											"name": "SOURCE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TAX_AMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "TAX_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FREIGHT_AMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "FREIGHT_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PAYMENT_STATUS_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "PAYMENT_STATUS_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CANCELLED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CANCELLED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CANCELLED_AMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "CANCELLED_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CO_NAME",
											"type": "String"
										},
										"sink": {
											"name": "CO_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "GL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ACCOUNTING_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "ACCOUNTING_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ACCRUAL_POSTED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "ACCRUAL_POSTED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ASSETS_ADDITION_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "ASSETS_ADDITION_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ASSETS_TRACKING_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "ASSETS_TRACKING_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CASH_POSTED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CASH_POSTED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CO",
											"type": "String"
										},
										"sink": {
											"name": "CO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEPT",
											"type": "String"
										},
										"sink": {
											"name": "DEPT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACCT",
											"type": "String"
										},
										"sink": {
											"name": "ACCT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INTERCO",
											"type": "String"
										},
										"sink": {
											"name": "INTERCO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLIENT",
											"type": "String"
										},
										"sink": {
											"name": "CLIENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOC",
											"type": "String"
										},
										"sink": {
											"name": "LOC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRODUCT",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROJ",
											"type": "String"
										},
										"sink": {
											"name": "PROJ",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COST",
											"type": "String"
										},
										"sink": {
											"name": "COST",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS",
											"type": "String"
										},
										"sink": {
											"name": "CLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "POSTED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "POSTED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEGMENT1",
											"type": "String"
										},
										"sink": {
											"name": "SEGMENT1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_DISTRIBUTION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TASK_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "TASK_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TASK_NAME",
											"type": "String"
										},
										"sink": {
											"name": "TASK_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DSYS_INSTANCE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "DSYS_INSTANCE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DSYS_PROCESS_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "DSYS_PROCESS_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DSYS_BATCH_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "DSYS_BATCH_ID",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "aoac_BICS_AP_JOB_COST_EXTRACT",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BICS_AP_JOB_COST_EXTRACT",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Purchasing"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_stage_BIA_AP_DEFERMENTS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BIA_AP_DEFERMENTS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BIA_AP_DEFERMENTS_V\nWHERE  ACCOUNTING_DATE\t\t\t>= sysdate -62\n\tOR GL_DATE\t\t\t\t\t>= sysdate -62\n\tOR DEF_ACCTG_START_DATE\t\t>= sysdate -62\n\tOR DEF_ACCTG_END_DATE\t\t>= sysdate -62\n\tOR EXPENDITURE_ITEM_DATE\t>= sysdate -62;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.stage_BIA_AP_DEFERMENTS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "LINE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EVENT_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "EVENT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AE_LINE_NUM",
											"type": "String"
										},
										"sink": {
											"name": "AE_LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLA_ACCOUNT",
											"type": "String"
										},
										"sink": {
											"name": "XLA_ACCOUNT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AP_LINES_DEPARTMENT",
											"type": "String"
										},
										"sink": {
											"name": "AP_LINES_DEPARTMENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AP_LINES_ACCOUNT",
											"type": "String"
										},
										"sink": {
											"name": "AP_LINES_ACCOUNT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_SL_LINK_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "GL_SL_LINK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_SL_LINK_TABLE",
											"type": "String"
										},
										"sink": {
											"name": "GL_SL_LINK_TABLE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENTERED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "ENTERED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ENTERED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "ENTERED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ACCOUNTED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "ACCOUNTED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ACCOUNTED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "ACCOUNTED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLA_LINE_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "XLA_LINE_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACCOUNTING_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "ACCOUNTING_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LEDGER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "LEDGER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_SITE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "VENDOR_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUESTER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUESTER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "GL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PARTY_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_SITE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AP_LINE_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "AP_LINE_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEFERRED_ACCTG_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "DEFERRED_ACCTG_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEF_ACCTG_START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DEF_ACCTG_START_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DEF_ACCTG_END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DEF_ACCTG_END_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DEFERRED_MONTHS",
											"type": "Double"
										},
										"sink": {
											"name": "DEFERRED_MONTHS",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WFAPPROVAL_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "WFAPPROVAL_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DISCARDED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "DISCARDED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EXPENDITURE_ITEM_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "EXPENDITURE_ITEM_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PROJECT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TASK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "TASK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_ID",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_LINE_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUISITION_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CHECK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CHECK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "SHIP_TO_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_DESTINATION_ORG_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_DESTINATION_ORG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "GL_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORG_LOCATION",
											"type": "Double"
										},
										"sink": {
											"name": "ORG_LOCATION",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_AP_DEFERMENTS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_stage_BIA_AP_DEFERMENTS_V",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "etlMerge_BIA_AP_DEFERMENTS_V",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BIA_AP_DEFERMENTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlMerge_BIA_AP_DEFERMENTS_V]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Pipe Purchasing"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ebs_BIA_AP_DEFERMENTS_V')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ebs_BIA_AP_DEFERMENTS_V')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Source: EBS\nView: BIA_AP_DEFERMENTS_V\n",
				"linkedServiceName": {
					"referenceName": "lsEBS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OAC - Source On Prem - EBS"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "APPS",
					"table": "BIA_AP_DEFERMENTS_V"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/oac_BICS_AP_INVOICE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Source: OAC\nView : BICS_AP_INVOICE",
				"linkedServiceName": {
					"referenceName": "lsOACPROD",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OAC - Source on Cloud - OAC"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "OACPROD",
					"table": "BICS_AP_INVOICE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/y_ebs_BICS_AP_INVOICE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Source: EBS\nView: BICS_AP_INVOICE",
				"linkedServiceName": {
					"referenceName": "lsEBS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OAC - Source On Prem - EBS"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "APPS",
					"table": "BICS_AP_INVOICE_V"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/y_ebs_BICS_AP_JOB_COST_EXTRACT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Source: EBS\nView: BICS_AP_JOB_COST_EXTRACT",
				"linkedServiceName": {
					"referenceName": "lsEBS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OAC - Source On Prem - EBS"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "APPS",
					"table": "BICS_AP_JOB_COSTS_V"
				}
			},
			"dependsOn": []
		}
	]
}