rdc-dev-azdf/PartialArmTemplates/ArmTemplate_4_24_2020_1_16_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rdc-dev-azdf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_QUOTE_HEADERS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_QUOTE_HEADERS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_QUOTE_HEADERS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "QUOTE_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CREATED_BY",
											"type": "Double"
										},
										"sink": {
											"name": "CREATED_BY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ORG_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_VERSION",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_VERSION",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_STATUS_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_STATUS_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_SOURCE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_SOURCE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_EXPIRATION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "QUOTE_EXPIRATION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PRICE_FROZEN_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICE_FROZEN_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "QUOTE",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CUST_ACCOUNT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CUST_ACCOUNT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORG_CONTACT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORG_CONTACT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PHONE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PHONE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_TO_PARTY_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_TO_PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_TO_PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_TO_PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORDER_TYPE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORDER_TYPE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_CATEGORY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_CATEGORY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDERED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "ORDERED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ACCOUNTING_RULE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ACCOUNTING_RULE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICING_RULE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICING_RULE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EMPLOYEE_PERSON_ID",
											"type": "Double"
										},
										"sink": {
											"name": "EMPLOYEE_PERSON_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PRICE_LIST_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CURRENCY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CURRENCY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TOTAL_LIST_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "TOTAL_LIST_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TOTAL_ADJUSTED_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "TOTAL_ADJUSTED_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TOTAL_ADJUSTED_PERCENT",
											"type": "Double"
										},
										"sink": {
											"name": "TOTAL_ADJUSTED_PERCENT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TOTAL_TAX",
											"type": "Double"
										},
										"sink": {
											"name": "TOTAL_TAX",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TOTAL_SHIPPING_CHARGE",
											"type": "Double"
										},
										"sink": {
											"name": "TOTAL_SHIPPING_CHARGE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SURCHARGE",
											"type": "Double"
										},
										"sink": {
											"name": "SURCHARGE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TOTAL_QUOTE_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "TOTAL_QUOTE_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PAYMENT_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "PAYMENT_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CONTRACT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CONTRACT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SALES_CHANNEL_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SALES_CHANNEL_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OBJECT_VERSION_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "OBJECT_VERSION_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_TO_CUST_ACCOUNT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_TO_CUST_ACCOUNT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RESOURCE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "RESOURCE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RESOURCE_GRP_ID",
											"type": "Double"
										},
										"sink": {
											"name": "RESOURCE_GRP_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SOLD_TO_PARTY_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "SOLD_TO_PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MAX_VERSION_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "MAX_VERSION_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUST_PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CUST_PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_TO_CUST_PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_TO_CUST_PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PRICING_STATUS_INDICATOR",
											"type": "String"
										},
										"sink": {
											"name": "PRICING_STATUS_INDICATOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TAX_STATUS_INDICATOR",
											"type": "String"
										},
										"sink": {
											"name": "TAX_STATUS_INDICATOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_UPDATED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICE_UPDATED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TAX_UPDATED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TAX_UPDATED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "QUOTE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS_CODE",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESREP",
											"type": "String"
										},
										"sink": {
											"name": "SALESREP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESREP_MAIL",
											"type": "String"
										},
										"sink": {
											"name": "SALESREP_MAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_TO",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_TO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATTRIBUTE_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "ATTRIBUTE_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATTRIBUTE_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "ATTRIBUTE_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADD_CHANGE_DELETE",
											"type": "String"
										},
										"sink": {
											"name": "ADD_CHANGE_DELETE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SFDC_QUOTE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "SFDC_QUOTE_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MRC_PROFIT",
											"type": "String"
										},
										"sink": {
											"name": "MRC_PROFIT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BILLING_START_DATE",
											"type": "String"
										},
										"sink": {
											"name": "BILLING_START_DATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NRC_PROFIT",
											"type": "String"
										},
										"sink": {
											"name": "NRC_PROFIT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MRC_TOTAL_AMOUNT",
											"type": "String"
										},
										"sink": {
											"name": "MRC_TOTAL_AMOUNT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LEASED_EQUIPMENT",
											"type": "String"
										},
										"sink": {
											"name": "LEASED_EQUIPMENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICING_APPROVAL",
											"type": "String"
										},
										"sink": {
											"name": "PRICING_APPROVAL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LEASED_EQUIP_DOWN",
											"type": "String"
										},
										"sink": {
											"name": "LEASED_EQUIP_DOWN",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LEASED_EQUIPMENT_DOWN",
											"type": "String"
										},
										"sink": {
											"name": "LEASED_EQUIPMENT_DOWN",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_DURATION_1134",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_DURATION_1134",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICING_VALID_TO",
											"type": "String"
										},
										"sink": {
											"name": "PRICING_VALID_TO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_OBJECT",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_OBJECT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_DURATION",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_DURATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_NUMBER_1134",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_NUMBER_1134",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ALTERNATIVE_SLA",
											"type": "String"
										},
										"sink": {
											"name": "ALTERNATIVE_SLA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATTRIBUTE16",
											"type": "String"
										},
										"sink": {
											"name": "ATTRIBUTE16",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATTRIBUTE17",
											"type": "String"
										},
										"sink": {
											"name": "ATTRIBUTE17",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATTRIBUTE18",
											"type": "String"
										},
										"sink": {
											"name": "ATTRIBUTE18",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INTERFACE_TO_OE",
											"type": "String"
										},
										"sink": {
											"name": "INTERFACE_TO_OE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INTERFACE_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "INTERFACE_STATUS",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_QUOTE_HEADERS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_QUOTE_HEADERS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Quotes/pipe_Quotes"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_QUOTE_LINES_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_QUOTE_LINES_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_QUOTE_LINES_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "NRC_QUOTE_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_QUOTE_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_RELATIONSHIP_ID",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_RELATIONSHIP_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_QUOTE_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_QUOTE_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_ORDER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_ORDER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CUST_ACCOUNT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CUST_ACCOUNT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORG_CONTACT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORG_CONTACT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PHONE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PHONE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_TO_PARTY_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_TO_PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_TO_PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_TO_PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORDER_TYPE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORDER_TYPE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_CATEGORY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_CATEGORY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PRICE_LIST_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RESOURCE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "RESOURCE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NRC_WAREHOUSE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_WAREHOUSE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_LINE_CATEGORY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "NRC_LINE_CATEGORY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NRC_ITEM_TYPE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "NRC_ITEM_TYPE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NRC_ORDER_LINE_TYPE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_ORDER_LINE_TYPE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_ORDER_LINE_TYPE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "NRC_ORDER_LINE_TYPE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NRC_INVOICE_TO_PARTY_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_INVOICE_TO_PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_INVOICE_TO_PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_INVOICE_TO_PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_INVENTORY_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_INVENTORY_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_UOM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "NRC_UOM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NRC_MARKETING_SOURCE_CODE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_MARKETING_SOURCE_CODE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_PRICE_LIST_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_PRICE_LIST_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_PRICE_LIST_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_PRICE_LIST_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_CURRENCY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "NRC_CURRENCY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NRC_LINE_LIST_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_LINE_LIST_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_LINE_ADJUSTED_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_LINE_ADJUSTED_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_LINE_ADJUSTED_PERCENT",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_LINE_ADJUSTED_PERCENT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_LINE_QUOTE_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_LINE_QUOTE_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_RELATED_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_RELATED_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_ITEM_RELATIONSHIP_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "NRC_ITEM_RELATIONSHIP_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MRC_WAREHOUSE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_WAREHOUSE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_LINE_CATEGORY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "MRC_LINE_CATEGORY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MRC_ITEM_TYPE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "MRC_ITEM_TYPE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MRC_ORDER_LINE_TYPE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_ORDER_LINE_TYPE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_ORDER_LINE_TYPE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "MRC_ORDER_LINE_TYPE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MRC_INVOICE_TO_PARTY_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_INVOICE_TO_PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_INVOICE_TO_PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_INVOICE_TO_PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_INVENTORY_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_INVENTORY_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_UOM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "MRC_UOM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MRC_MARKETING_SOURCE_CODE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_MARKETING_SOURCE_CODE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_PRICE_LIST_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_PRICE_LIST_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_PRICE_LIST_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_PRICE_LIST_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_CURRENCY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "MRC_CURRENCY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MRC_LINE_LIST_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_LINE_LIST_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_LINE_ADJUSTED_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_LINE_ADJUSTED_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_LINE_ADJUSTED_PERCENT",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_LINE_ADJUSTED_PERCENT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_LINE_QUOTE_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_LINE_QUOTE_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_RELATED_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_RELATED_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_ITEM_RELATIONSHIP_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "MRC_ITEM_RELATIONSHIP_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "MRC_SHIPMENT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_SHIPMENT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_SHIPMENT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_SHIPMENT_ID",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_QUOTE_LINES_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_QUOTE_LINES_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Quotes/pipe_Quotes"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_QUOTE_LINES_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_QUOTE_LINES_V2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_QUOTE_LINES_V2",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "QUOTE_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_ORDER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_ORDER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CUST_ACCOUNT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CUST_ACCOUNT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORG_CONTACT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORG_CONTACT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PHONE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PHONE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_TO_PARTY_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_TO_PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_TO_PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_TO_PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORDER_TYPE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORDER_TYPE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_CATEGORY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_CATEGORY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PRICE_LIST_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RESOURCE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "RESOURCE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WAREHOUSE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "WAREHOUSE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_CATEGORY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "LINE_CATEGORY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_TYPE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_TYPE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_LINE_TYPE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORDER_LINE_TYPE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORDER_LINE_TYPE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_LINE_TYPE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UOM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "UOM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MARKETING_SOURCE_CODE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "MARKETING_SOURCE_CODE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PRICE_LIST_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CURRENCY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CURRENCY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_LIST_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_LIST_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_ADJUSTED_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_ADJUSTED_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_ADJUSTED_PERCENT",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_ADJUSTED_PERCENT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_QUOTE_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_QUOTE_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RELATED_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "RELATED_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ITEM_RELATIONSHIP_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_RELATIONSHIP_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SHIPMENT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "SHIPMENT_ID",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_QUOTE_LINES_V2",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_QUOTE_LINES_V2",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Quotes/pipe_Quotes"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BICS_QUOTE_DETAIL_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BICS_QUOTE_DETAIL_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BICS_QUOTE_DETAIL_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_SITE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_SITE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_CREATION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "QUOTE_CREATION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "QUOTE_CREATION_MTH",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_CREATION_MTH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_EXPIRATION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "QUOTE_EXPIRATION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "QUOTE_EXPIRATION_MTH",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_EXPIRATION_MTH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_CHANNEL_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SALES_CHANNEL_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_DURATION",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_DURATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_REPRESENTATIVE",
											"type": "String"
										},
										"sink": {
											"name": "SALES_REPRESENTATIVE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_REP_EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "SALES_REP_EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS_CODE",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PRICE_LIST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "PRICE_LIST_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SFDC_ID",
											"type": "String"
										},
										"sink": {
											"name": "SFDC_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_DATES",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_DATES",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "LINE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OPTIONAL_YN",
											"type": "String"
										},
										"sink": {
											"name": "OPTIONAL_YN",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_LINE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_LINE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ROW_INCR",
											"type": "Double"
										},
										"sink": {
											"name": "ROW_INCR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SEGMENT1",
											"type": "String"
										},
										"sink": {
											"name": "SEGMENT1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIMARY_UNIT_OF_MEASURE",
											"type": "String"
										},
										"sink": {
											"name": "PRIMARY_UNIT_OF_MEASURE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIMARY_UOM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PRIMARY_UOM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NRC_UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_EXT_AMT",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_EXT_AMT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_EXT_AMT",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_EXT_AMT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RELATED_ITEM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "RELATED_ITEM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELATED_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "RELATED_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELATED_UOM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "RELATED_UOM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELATED_QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "RELATED_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RELATED_LINE_LIST_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "RELATED_LINE_LIST_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SERVICEABLE_PRODUCT_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "SERVICEABLE_PRODUCT_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_LIST_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_LIST_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_ADJUSTED_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_ADJUSTED_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_ADJUSTED_PERCENT",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_ADJUSTED_PERCENT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SERVICE_START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SERVICE_START_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SERVICE_END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SERVICE_END_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SERVICE_DURATION",
											"type": "Double"
										},
										"sink": {
											"name": "SERVICE_DURATION",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BICS_QUOTE_DETAIL_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BICS_QUOTE_DETAIL_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Quotes/pipe_Quotes_Seed"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_stage_BICS_QUOTE_DETAIL_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BICS_QUOTE_DETAIL_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BICS_QUOTE_DETAIL_V\nWHERE  LAST_UPDATE_DATE >= sysdate -62\n\tOR QUOTE_CREATION_DATE >= sysdate -62;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.stage_BICS_QUOTE_DETAIL_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_SITE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_SITE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_CREATION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "QUOTE_CREATION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "QUOTE_CREATION_MTH",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_CREATION_MTH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_EXPIRATION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "QUOTE_EXPIRATION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "QUOTE_EXPIRATION_MTH",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_EXPIRATION_MTH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_CHANNEL_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SALES_CHANNEL_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_DURATION",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_DURATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_REPRESENTATIVE",
											"type": "String"
										},
										"sink": {
											"name": "SALES_REPRESENTATIVE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_REP_EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "SALES_REP_EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS_CODE",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PRICE_LIST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "PRICE_LIST_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SFDC_ID",
											"type": "String"
										},
										"sink": {
											"name": "SFDC_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_DATES",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_DATES",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "LINE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OPTIONAL_YN",
											"type": "String"
										},
										"sink": {
											"name": "OPTIONAL_YN",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_LINE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_LINE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ROW_INCR",
											"type": "Double"
										},
										"sink": {
											"name": "ROW_INCR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SEGMENT1",
											"type": "String"
										},
										"sink": {
											"name": "SEGMENT1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIMARY_UNIT_OF_MEASURE",
											"type": "String"
										},
										"sink": {
											"name": "PRIMARY_UNIT_OF_MEASURE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIMARY_UOM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PRIMARY_UOM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NRC_UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_EXT_AMT",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_EXT_AMT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_EXT_AMT",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_EXT_AMT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RELATED_ITEM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "RELATED_ITEM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELATED_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "RELATED_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELATED_UOM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "RELATED_UOM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELATED_QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "RELATED_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RELATED_LINE_LIST_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "RELATED_LINE_LIST_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SERVICEABLE_PRODUCT_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "SERVICEABLE_PRODUCT_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_LIST_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_LIST_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_ADJUSTED_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_ADJUSTED_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_ADJUSTED_PERCENT",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_ADJUSTED_PERCENT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SERVICE_START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SERVICE_START_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SERVICE_END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SERVICE_END_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SERVICE_DURATION",
											"type": "Double"
										},
										"sink": {
											"name": "SERVICE_DURATION",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BICS_QUOTE_DETAIL_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_stage_BICS_QUOTE_DETAIL_V",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "etlMerge_BICS_QUOTE_DETAIL_V",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BICS_QUOTE_DETAIL_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlMerge_BICS_QUOTE_DETAIL_V]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Pipe Quotes/pipe_Quotes"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Quotes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_QUOTE_HEADERS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_QUOTE_HEADERS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_QUOTE_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_QUOTE_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_QUOTE_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_QUOTE_LINES_V2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_QUOTE_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_QUOTE_LINES_V2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_stage_BICS_QUOTE_DETAIL_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_QUOTE_LINES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_QUOTE_LINES_V2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BICS_QUOTE_DETAIL_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "Pipe Quotes/pipe_Quotes"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_QUOTE_HEADERS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_QUOTE_LINES_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_QUOTE_LINES_V2')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_stage_BICS_QUOTE_DETAIL_V')]"
			]
		}
	]
}