rdc-dev-azdf/PartialArmTemplates/ArmTemplate_4_23_2020_16_55_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rdc-dev-azdf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_OAC_PAYABLES_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_OAC_PAYABLES_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_OAC_PAYABLES_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "JE_BATCH_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_BATCH_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "JE_LINE_NUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_DISTRIBUTION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_ID",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_LINE_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VENDOR_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TASK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "TASK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LOCATION_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PO_LOCATION_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PAYMENT_HISTORY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PAYMENT_HISTORY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CHECK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CHECK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE_LOOKUP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "LINE_TYPE_LOOKUP_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENTITY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ENTITY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CLASS_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLA_ACCOUNTED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "XLA_ACCOUNTED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLA_ACCOUNTED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "XLA_ACCOUNTED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_DIST_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "INV_DIST_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_DIST_BASE_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "INV_DIST_BASE_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CASH_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "CASH_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DISCOUNT_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "DISCOUNT_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PAYMENT_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "PAYMENT_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "GL_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEFERRED_ACCTG_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "DEFERRED_ACCTG_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEF_ACCTG_START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DEF_ACCTG_START_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DEF_ACCTG_END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DEF_ACCTG_END_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DEFERRED_MONTHS",
											"type": "Double"
										},
										"sink": {
											"name": "DEFERRED_MONTHS",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WFAPPROVAL_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "WFAPPROVAL_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DISCARDED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "DISCARDED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RECORD_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "RECORD_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUISITION_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "JE_LINE_ID",
											"type": "String"
										},
										"sink": {
											"name": "JE_LINE_ID",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_OAC_PAYABLES_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_OAC_PAYABLES_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Purchasing"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_POWER_KW_CAGE_MON_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_POWER_KW_CAGE_MON_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_POWER_KW_CAGE_MON_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MATRIX_PERIOD_MONTH",
											"type": "DateTime"
										},
										"sink": {
											"name": "MATRIX_PERIOD_MONTH",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "GL_PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "GL_PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OFIN_CUSTOMER_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "OFIN_CUSTOMER_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BUILDING_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "BUILDING_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SF_BUILT",
											"type": "Double"
										},
										"sink": {
											"name": "SF_BUILT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SF_CONTRACTED",
											"type": "Double"
										},
										"sink": {
											"name": "SF_CONTRACTED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MAX_KW",
											"type": "Double"
										},
										"sink": {
											"name": "MAX_KW",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "KWH",
											"type": "Double"
										},
										"sink": {
											"name": "KWH",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_POWER_KW_CAGE_MON_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_POWER_KW_CAGE_MON_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe CAMP"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_REV_CATEGORY_ITEMS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipe_BIA_REV_CATEGORY_ITEMS_V",
				"activities": [
					{
						"name": "Copy BIA_REV_CATEGORY_ITEMS_V",
						"description": "Copy BIA_REV_CATEGORY_ITEMS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_REV_CATEGORY_ITEMS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "STRUCTURE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "STRUCTURE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CATEGORY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CATEGORY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CATEGORY_CONCAT_SEGS",
											"type": "String"
										},
										"sink": {
											"name": "CATEGORY_CONCAT_SEGS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FAMILY",
											"type": "String"
										},
										"sink": {
											"name": "FAMILY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS1",
											"type": "String"
										},
										"sink": {
											"name": "CLASS1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS2",
											"type": "String"
										},
										"sink": {
											"name": "CLASS2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS3",
											"type": "String"
										},
										"sink": {
											"name": "CLASS3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS4",
											"type": "String"
										},
										"sink": {
											"name": "CLASS4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REV_CATEGORY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "REV_CATEGORY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REV_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "REV_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REV_CATEGORY_SORT_ORDER",
											"type": "Double"
										},
										"sink": {
											"name": "REV_CATEGORY_SORT_ORDER",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_REV_CATEGORY_ITEMS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_REV_CATEGORY_ITEMS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe PriceLists"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/aoac_BIA_REV_CATEGORY_ITEMS_V')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_REV_CATEGORY_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipe_BIA_REV_CATEGORY_V",
				"activities": [
					{
						"name": "Copy BIA_REV_CATEGORY_V",
						"description": "Copy BIA_REV_CATEGORY_V\n(Ignore REV_CATEGORY not on EBS Source - ES: 1/30/20-Field is not used)",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_REV_CATEGORY_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "REV_CATEGORY_SORT_ORDER",
											"type": "Double"
										},
										"sink": {
											"name": "REV_CATEGORY_SORT_ORDER",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "ITEM_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_REV_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_REV_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACCOUNT_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REVENUE_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "REVENUE_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STRUCTURE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "STRUCTURE_ID",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "CATEGORY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CATEGORY_ID",
											"type": "Double"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_REV_CATEGORY_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_REV_CATEGORY_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe PriceLists"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/aoac_BIA_REV_CATEGORY_V')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BICS_WF_STATUS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BICS_WF_STATUS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BICS_WF_STATUS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DOCUMENT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "DOCUMENT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPROVER",
											"type": "String"
										},
										"sink": {
											"name": "APPROVER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEQUENCE_NUM",
											"type": "Double"
										},
										"sink": {
											"name": "SEQUENCE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPROVAL_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "APPROVAL_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "APPROVAL_STATUS_LABEL",
											"type": "String"
										},
										"sink": {
											"name": "APPROVAL_STATUS_LABEL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "APPROVAL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "APPROVAL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "NOTES",
											"type": "String"
										},
										"sink": {
											"name": "NOTES",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BUSINESS_GROUP_NAME",
											"type": "String"
										},
										"sink": {
											"name": "BUSINESS_GROUP_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CSS_STYLE",
											"type": "String"
										},
										"sink": {
											"name": "CSS_STYLE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SORT_ORDER",
											"type": "Double"
										},
										"sink": {
											"name": "SORT_ORDER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPROVER_EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "APPROVER_EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "APPROVAL_GROUP_NAME",
											"type": "String"
										},
										"sink": {
											"name": "APPROVAL_GROUP_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "APPROVER_DISPLAY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "APPROVER_DISPLAY_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACTION_SORT_COLUMN",
											"type": "Double"
										},
										"sink": {
											"name": "ACTION_SORT_COLUMN",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUISITION_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "REQUISITION_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PO_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VENDOR_NAME",
											"type": "String"
										},
										"sink": {
											"name": "VENDOR_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_WAYS",
											"type": "String"
										},
										"sink": {
											"name": "PO_WAYS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_DATE",
											"type": "String"
										},
										"sink": {
											"name": "PO_DATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BUYER_NAME",
											"type": "String"
										},
										"sink": {
											"name": "BUYER_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUISITION_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "REQUISITION_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIOR_APPROVER",
											"type": "String"
										},
										"sink": {
											"name": "PRIOR_APPROVER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIOR_SEQUENCE_NUM",
											"type": "Double"
										},
										"sink": {
											"name": "PRIOR_SEQUENCE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PRIOR_APPROVAL_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "PRIOR_APPROVAL_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIOR_APPROVAL_LABEL",
											"type": "String"
										},
										"sink": {
											"name": "PRIOR_APPROVAL_LABEL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIOR_APPPROVAL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRIOR_APPPROVAL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "APPROVAL_DAYS",
											"type": "Double"
										},
										"sink": {
											"name": "APPROVAL_DAYS",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPROVAL_HOURS",
											"type": "Double"
										},
										"sink": {
											"name": "APPROVAL_HOURS",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPROVAL_MINUTES",
											"type": "Double"
										},
										"sink": {
											"name": "APPROVAL_MINUTES",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPROVAL_SECONDS",
											"type": "Double"
										},
										"sink": {
											"name": "APPROVAL_SECONDS",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BICS_WF_STATUS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BICS_WF_STATUS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "pipe PurchaseOrders"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_stage_BIA_OAC_PAYABLES_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage BIA_OAC_PAYABLES_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BIA_OAC_PAYABLES_V\nWHERE LAST_UPDATE_DATE >= sysdate -62;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.stage_BIA_OAC_PAYABLES_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "JE_BATCH_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_BATCH_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "JE_LINE_NUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_DISTRIBUTION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_ID",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_LINE_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VENDOR_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TASK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "TASK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LOCATION_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PO_LOCATION_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PAYMENT_HISTORY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PAYMENT_HISTORY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CHECK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CHECK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE_LOOKUP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "LINE_TYPE_LOOKUP_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENTITY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ENTITY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CLASS_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLA_ACCOUNTED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "XLA_ACCOUNTED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLA_ACCOUNTED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "XLA_ACCOUNTED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_DIST_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "INV_DIST_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INV_DIST_BASE_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "INV_DIST_BASE_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CASH_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "CASH_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DISCOUNT_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "DISCOUNT_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PAYMENT_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "PAYMENT_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "GL_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEFERRED_ACCTG_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "DEFERRED_ACCTG_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEF_ACCTG_START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DEF_ACCTG_START_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DEF_ACCTG_END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DEF_ACCTG_END_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DEFERRED_MONTHS",
											"type": "Double"
										},
										"sink": {
											"name": "DEFERRED_MONTHS",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WFAPPROVAL_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "WFAPPROVAL_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DISCARDED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "DISCARDED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RECORD_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "RECORD_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUISITION_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "JE_LINE_ID",
											"type": "String"
										},
										"sink": {
											"name": "JE_LINE_ID",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_OAC_PAYABLES_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_stage_BIA_OAC_PAYABLES_V",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "etlMerge_BIA_OAC_PAYABLES_V",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage BIA_OAC_PAYABLES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlMerge_BIA_OAC_PAYABLES_V]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Pipe Purchasing"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/aoac_BIA_REV_CATEGORY_ITEMS_V')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Destination: Azure OAC\nSchema: OACPROD\nTable: BIA_REV_CATEGORY_ITEMS_V",
				"linkedServiceName": {
					"referenceName": "ls_dwStageOAC",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destinations - AOAC"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "STRUCTURE_ID",
						"type": "decimal",
						"precision": 32,
						"scale": 10
					},
					{
						"name": "CATEGORY_ID",
						"type": "decimal",
						"precision": 32,
						"scale": 10
					},
					{
						"name": "INVENTORY_ITEM_ID",
						"type": "decimal",
						"precision": 32,
						"scale": 10
					},
					{
						"name": "CATEGORY_CONCAT_SEGS",
						"type": "varchar"
					},
					{
						"name": "FAMILY",
						"type": "varchar"
					},
					{
						"name": "CLASS1",
						"type": "varchar"
					},
					{
						"name": "CLASS2",
						"type": "varchar"
					},
					{
						"name": "CLASS3",
						"type": "varchar"
					},
					{
						"name": "CLASS4",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "REV_CATEGORY_CODE",
						"type": "varchar"
					},
					{
						"name": "REV_CATEGORY",
						"type": "varchar"
					},
					{
						"name": "REV_CATEGORY_SORT_ORDER",
						"type": "decimal",
						"precision": 32,
						"scale": 10
					},
					{
						"name": "DSYS_INSTANCE_ID",
						"type": "decimal",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "DSYS_PROCESS_ID",
						"type": "decimal",
						"precision": 12,
						"scale": 0
					},
					{
						"name": "DSYS_BATCH_ID",
						"type": "decimal",
						"precision": 30,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "OACPROD",
					"table": "BIA_REV_CATEGORY_ITEMS_V"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/aoac_BIA_REV_CATEGORY_V')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Destination: Azure OAC\nSchema: OACPROD\nTable: BIA_REV_CATEGORY_V",
				"linkedServiceName": {
					"referenceName": "ls_dwStageOAC",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destinations - AOAC"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "REV_CATEGORY_SORT_ORDER",
						"type": "decimal",
						"precision": 32,
						"scale": 10
					},
					{
						"name": "REV_CATEGORY",
						"type": "varchar"
					},
					{
						"name": "INVENTORY_ITEM_ID",
						"type": "decimal",
						"precision": 32,
						"scale": 10
					},
					{
						"name": "ITEM_CATEGORY",
						"type": "varchar"
					},
					{
						"name": "DSYS_INSTANCE_ID",
						"type": "decimal",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "DSYS_PROCESS_ID",
						"type": "decimal",
						"precision": 12,
						"scale": 0
					},
					{
						"name": "DSYS_BATCH_ID",
						"type": "decimal",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "ITEM_REV_CATEGORY",
						"type": "varchar"
					},
					{
						"name": "ACCOUNT_CODE",
						"type": "varchar"
					},
					{
						"name": "REVENUE_CATEGORY",
						"type": "varchar"
					},
					{
						"name": "STRUCTURE_ID",
						"type": "decimal",
						"precision": 32,
						"scale": 10
					},
					{
						"name": "CATEGORY_ID",
						"type": "decimal",
						"precision": 32,
						"scale": 10
					}
				],
				"typeProperties": {
					"schema": "OACPROD",
					"table": "BIA_REV_CATEGORY_V"
				}
			},
			"dependsOn": []
		}
	]
}