rdc-dev-azdf/PartialArmTemplates/ArmTemplate_4_24_2020_1_19_56.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rdc-dev-azdf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_AR_ADJUSTMENTS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipe_BIA_AR_ADJUSTMENTS_V",
				"activities": [
					{
						"name": "Copy BIA_AR_ADJUSTMENTS_V",
						"description": "Copy BIA_AR_ADJUSTMENTS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_AR_ADJUSTMENTS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ADJUSTMENT_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "ADJUSTMENT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AMOUNT_ADJUSTED",
											"type": "Double"
										},
										"sink": {
											"name": "AMOUNT_ADJUSTED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "GL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "APPLY_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "APPLY_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TYPE",
											"type": "String"
										},
										"sink": {
											"name": "TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADJUSTMENT_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "ADJUSTMENT_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_TRX_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CUSTOMER_TRX_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PAYMENT_SCHEDULE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "PAYMENT_SCHEDULE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RECEIVABLES_TRX_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "RECEIVABLES_TRX_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "POSTABLE",
											"type": "String"
										},
										"sink": {
											"name": "POSTABLE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADJUSTMENT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ADJUSTMENT_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_AR_ADJUSTMENTS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_AR_ADJUSTMENTS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Receivables/pipe_Receivables"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_AR_CASH_RECEIPTS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_AR_CASH_RECEIPTS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_AR_CASH_RECEIPTS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CASH_RECEIPT_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CASH_RECEIPT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATED_BY",
											"type": "Decimal"
										},
										"sink": {
											"name": "LAST_UPDATED_BY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SET_OF_BOOKS_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "SET_OF_BOOKS_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RECEIVABLES_TRX_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "RECEIVABLES_TRX_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PAY_FROM_CUSTOMER",
											"type": "Decimal"
										},
										"sink": {
											"name": "PAY_FROM_CUSTOMER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"name": "STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TYPE",
											"type": "String"
										},
										"sink": {
											"name": "TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RECEIPT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "RECEIPT_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RECEIPT_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "RECEIPT_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "REVERSAL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "REVERSAL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "REVERSAL_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "REVERSAL_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REVERSAL_REASON_CODE",
											"type": "String"
										},
										"sink": {
											"name": "REVERSAL_REASON_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REVERSAL_COMMENTS",
											"type": "String"
										},
										"sink": {
											"name": "REVERSAL_COMMENTS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONFIRMED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CONFIRMED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORG_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "ORG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ACTUAL_VALUE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "ACTUAL_VALUE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_AR_CASH_RECEIPTS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_AR_CASH_RECEIPTS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Receivables/pipe_Receivables"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_AR_PAYMENT_SCHEDULES_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_AR_PAYMENT_SCHEDULES_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_AR_PAYMENT_SCHEDULES_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PAYMENT_SCHEDULE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "PAYMENT_SCHEDULE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DUE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DUE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "AMOUNT_DUE_ORIGINAL",
											"type": "Double"
										},
										"sink": {
											"name": "AMOUNT_DUE_ORIGINAL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AMOUNT_DUE_REMAINING",
											"type": "Double"
										},
										"sink": {
											"name": "AMOUNT_DUE_REMAINING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AMOUNT_APPLIED",
											"type": "Double"
										},
										"sink": {
											"name": "AMOUNT_APPLIED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AMOUNT_ADJUSTED",
											"type": "Double"
										},
										"sink": {
											"name": "AMOUNT_ADJUSTED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AMOUNT_IN_DISPUTE",
											"type": "Double"
										},
										"sink": {
											"name": "AMOUNT_IN_DISPUTE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AMOUNT_CREDITED",
											"type": "Double"
										},
										"sink": {
											"name": "AMOUNT_CREDITED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TRX_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "TRX_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TRX_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TRX_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "GL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "GL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CUST_TRX_TYPE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CUST_TRX_TYPE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"name": "STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS",
											"type": "String"
										},
										"sink": {
											"name": "CLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_SITE_USE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CUSTOMER_SITE_USE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_TRX_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CUSTOMER_TRX_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TRX_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "TRX_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUST_TRX_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "CUST_TRX_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME_DATE_DUE",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME_DATE_DUE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TERM_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TERM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CUSTOMER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CASH_RECEIPT_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CASH_RECEIPT_ID",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_AR_PAYMENT_SCHEDULES_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_AR_PAYMENT_SCHEDULES_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Receivables/pipe_Receivables"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_AR_RECEIVABLE_APPS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_AR_RECEIVABLE_APPS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_AR_RECEIVABLE_APPS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RECEIVABLE_APPLICATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "RECEIVABLE_APPLICATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AMOUNT_APPLIED",
											"type": "Double"
										},
										"sink": {
											"name": "AMOUNT_APPLIED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "GL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "APPLY_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "APPLY_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPLICATION_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "APPLICATION_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"name": "STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DISPLAY",
											"type": "String"
										},
										"sink": {
											"name": "DISPLAY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CASH_RECEIPT_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CASH_RECEIPT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPLIED_CUSTOMER_TRX_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "APPLIED_CUSTOMER_TRX_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPLIED_PAYMENT_SCHEDULE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "APPLIED_PAYMENT_SCHEDULE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RECEIVABLES_TRX_ID",
											"type": "Double"
										},
										"sink": {
											"name": "RECEIVABLES_TRX_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_AR_RECEIVABLE_APPS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_AR_RECEIVABLE_APPS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Receivables/pipe_Receivables"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BICS_AR_INVOICES_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BICS_AR_INVOICES_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BICS_AR_INVOICES_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "INVOICE_NO",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_NO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "CUST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACCOUNT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "INVOICE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SHIP_CUST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_CUST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_LOC",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_LOC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_ADDR1",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_ADDR1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_ADDR5",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_ADDR5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BILL_CUST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "BILL_CUST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BILL_TO_LOC",
											"type": "String"
										},
										"sink": {
											"name": "BILL_TO_LOC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BILL_TO_ADDR1",
											"type": "String"
										},
										"sink": {
											"name": "BILL_TO_ADDR1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BILL_TO_ADDR5",
											"type": "String"
										},
										"sink": {
											"name": "BILL_TO_ADDR5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REMIT_CUST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "REMIT_CUST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REMIT_TO_LOC",
											"type": "String"
										},
										"sink": {
											"name": "REMIT_TO_LOC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REMIT_TO_ADDR1",
											"type": "String"
										},
										"sink": {
											"name": "REMIT_TO_ADDR1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REMIT_TO_ADDR5",
											"type": "String"
										},
										"sink": {
											"name": "REMIT_TO_ADDR5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ITEM_NAME",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_ITEM_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_ITEM_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UOM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "UOM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY_INVOICED",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTITY_INVOICED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UNIT_SELLING_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "UNIT_SELLING_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "LINE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TOTAMT",
											"type": "Double"
										},
										"sink": {
											"name": "TOTAMT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REFERENCE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_ORDER_LINE",
											"type": "String"
										},
										"sink": {
											"name": "SALES_ORDER_LINE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NSC_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "NSC_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WAREHOUSE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "WAREHOUSE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WAREHOUSE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "WAREHOUSE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INTERFACE_LINE_CONTEXT",
											"type": "String"
										},
										"sink": {
											"name": "INTERFACE_LINE_CONTEXT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_REP_PERSONID",
											"type": "Double"
										},
										"sink": {
											"name": "SALES_REP_PERSONID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SALES_REP_NAME",
											"type": "String"
										},
										"sink": {
											"name": "SALES_REP_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PURCHASE_ORDER",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASE_ORDER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PURCHASE_ORDER_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PURCHASE_ORDER_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "COMMENTS",
											"type": "String"
										},
										"sink": {
											"name": "COMMENTS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BATCH_NAME",
											"type": "String"
										},
										"sink": {
											"name": "BATCH_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BATCH_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "BATCH_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "GL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "GL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FISCAL_YEAR",
											"type": "Decimal"
										},
										"sink": {
											"name": "FISCAL_YEAR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PERIOD_NUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "PERIOD_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUARTER_NUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "QUARTER_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_TRX_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CUSTOMER_TRX_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_TRX_LINE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CUSTOMER_TRX_LINE_ID",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BICS_AR_INVOICES_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BICS_AR_INVOICES_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Receivables/pipe_Receivables"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_oac_to_aoac_BICS_REVENUE_FT2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BICS_REVENUE_FT2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BICS_REVENUE_FT2",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDER_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "ORDER_KEY",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "ORDER_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNITS",
											"type": "Double"
										},
										"sink": {
											"name": "UNITS",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "DISCNT_VALUE",
											"type": "Double"
										},
										"sink": {
											"name": "DISCNT_VALUE",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "COST_FIXED",
											"type": "Double"
										},
										"sink": {
											"name": "COST_FIXED",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "COST_VARIABLE",
											"type": "Double"
										},
										"sink": {
											"name": "COST_VARIABLE",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "REVENUE",
											"type": "Double"
										},
										"sink": {
											"name": "REVENUE",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "TIME_BILL_DT",
											"type": "DateTime"
										},
										"sink": {
											"name": "TIME_BILL_DT",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TIME_PAID_DT",
											"type": "DateTime"
										},
										"sink": {
											"name": "TIME_PAID_DT",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PROD_ITEM_KEY",
											"type": "String"
										},
										"sink": {
											"name": "PROD_ITEM_KEY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUST_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "CUST_NUMBER",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "CUST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "CUST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUST_BIRTH_DT",
											"type": "DateTime"
										},
										"sink": {
											"name": "CUST_BIRTH_DT",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CUST_CRDT_RATE",
											"type": "String"
										},
										"sink": {
											"name": "CUST_CRDT_RATE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CUST_GENDER",
											"type": "String"
										},
										"sink": {
											"name": "CUST_GENDER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUST_SEGMENT",
											"type": "String"
										},
										"sink": {
											"name": "CUST_SEGMENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUST_MARITAL_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "CUST_MARITAL_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUST_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "CUST_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADDR_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "ADDR_KEY",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "ADDRESS1",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADDRESS2",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "POSTAL_CODE",
											"type": "String"
										},
										"sink": {
											"name": "POSTAL_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATE_PROV",
											"type": "String"
										},
										"sink": {
											"name": "STATE_PROV",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REGION",
											"type": "String"
										},
										"sink": {
											"name": "REGION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COUNTRY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COUNTRY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AREA",
											"type": "String"
										},
										"sink": {
											"name": "AREA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CHANNEL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "CHANNEL_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROD_BRAND",
											"type": "String"
										},
										"sink": {
											"name": "PROD_BRAND",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROD_LOB",
											"type": "String"
										},
										"sink": {
											"name": "PROD_LOB",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROD_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "PROD_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRODUCT",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROD_ITEM_DSC",
											"type": "String"
										},
										"sink": {
											"name": "PROD_ITEM_DSC",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "oac_BICS_REVENUE_FT2",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BICS_REVENUE_FT2",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe Receivables/pipe_Receivables_FromOAC"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Receivables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BICS_AR_INVOICES_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_AR_INVOICES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_AR_RECEIVABLE_APPS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BICS_AR_INVOICES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AR_RECEIVABLE_APPS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_AR_PAYMENT_SCHEDULES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BICS_AR_INVOICES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AR_PAYMENT_SCHEDULES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_AR_ADJUSTMENTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_AR_RECEIVABLE_APPS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_AR_PAYMENT_SCHEDULES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_AR_CASH_RECEIPTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AR_ADJUSTMENTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_AR_CASH_RECEIPTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BICS_AR_INVOICES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AR_CASH_RECEIPTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "Pipe Receivables/pipe_Receivables"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_BICS_AR_INVOICES_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_AR_RECEIVABLE_APPS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_AR_PAYMENT_SCHEDULES_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_AR_ADJUSTMENTS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_AR_CASH_RECEIPTS_V')]"
			]
		}
	]
}