rdc-dev-azdf/PartialArmTemplates/ArmTemplate_4_24_2020_0_57_51.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rdc-dev-azdf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_ITEMS_CODES_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipe_BIA_ITEMS_CODES_V",
				"activities": [
					{
						"name": "Copy BIA_ITEMS_CODES_V",
						"description": "Copy BIA_ITEMS_CODES_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_ITEMS_CODES_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIMARY_UNIT_OF_MEASURE",
											"type": "String"
										},
										"sink": {
											"name": "PRIMARY_UNIT_OF_MEASURE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_ACCOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "SALES_ACCOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EXPENSE_ACCOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "EXPENSE_ACCOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "COST_OF_SALES_ACCOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "COST_OF_SALES_ACCOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SERVICE_ITEM_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "SERVICE_ITEM_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVENTORY_ITEM_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "INVENTORY_ITEM_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVENTORY_ITEM_STATUS_CODE",
											"type": "String"
										},
										"sink": {
											"name": "INVENTORY_ITEM_STATUS_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SERVICE_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "SERVICE_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RELATED_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "RELATED_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_ITEMS_CODES_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_ITEMS_CODES_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe PriceLists/pipe_PriceLists"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PRICE_LISTS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipe_BIA_PRICE_LISTS_V",
				"activities": [
					{
						"name": "Copy BIA_PRICE_LISTS_V",
						"description": "Copy BIA_PRICE_LISTS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PRICE_LISTS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PRICE_LIST_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PRICE_LIST_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PRICE_LIST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "PRICE_LIST_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICE_LIST_START_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICE_LIST_END_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ITEM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_UOM",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_UOM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "ITEM_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PRICE_LINE_START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICE_LINE_START_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PRICE_LINE_END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICE_LINE_END_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PRICE_LISTS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PRICE_LISTS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe PriceLists/pipe_PriceLists"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PRICE_LIST_ITEMS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipe_BIA_PRICE_LIST_ITEMS_V",
				"activities": [
					{
						"name": "Copy BIA_PRICE_LIST_ITEMS_V",
						"description": "Copy BIA_PRICE_LIST_ITEMS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PRICE_LIST_ITEMS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PRICE_LIST_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PRICE_LIST_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PRICE_LIST_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UNIT_CODE",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "METHOD_CODE",
											"type": "String"
										},
										"sink": {
											"name": "METHOD_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LIST_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "LIST_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PRICING_RULE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PRICING_RULE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REPRICE_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "REPRICE_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "START_DATE_ACTIVE",
											"type": "DateTime"
										},
										"sink": {
											"name": "START_DATE_ACTIVE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "END_DATE_ACTIVE",
											"type": "DateTime"
										},
										"sink": {
											"name": "END_DATE_ACTIVE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CONCATENATED_SEGMENTS",
											"type": "String"
										},
										"sink": {
											"name": "CONCATENATED_SEGMENTS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIMARY_UNIT_OF_MEASURE",
											"type": "String"
										},
										"sink": {
											"name": "PRIMARY_UNIT_OF_MEASURE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PRICE_LIST_ITEMS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PRICE_LIST_ITEMS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe PriceLists/pipe_PriceLists"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_REV_CATEGORY_ITEMS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipe_BIA_REV_CATEGORY_ITEMS_V",
				"activities": [
					{
						"name": "Copy BIA_REV_CATEGORY_ITEMS_V",
						"description": "Copy BIA_REV_CATEGORY_ITEMS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_REV_CATEGORY_ITEMS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "STRUCTURE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "STRUCTURE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CATEGORY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CATEGORY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CATEGORY_CONCAT_SEGS",
											"type": "String"
										},
										"sink": {
											"name": "CATEGORY_CONCAT_SEGS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FAMILY",
											"type": "String"
										},
										"sink": {
											"name": "FAMILY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS1",
											"type": "String"
										},
										"sink": {
											"name": "CLASS1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS2",
											"type": "String"
										},
										"sink": {
											"name": "CLASS2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS3",
											"type": "String"
										},
										"sink": {
											"name": "CLASS3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS4",
											"type": "String"
										},
										"sink": {
											"name": "CLASS4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REV_CATEGORY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "REV_CATEGORY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REV_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "REV_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REV_CATEGORY_SORT_ORDER",
											"type": "Double"
										},
										"sink": {
											"name": "REV_CATEGORY_SORT_ORDER",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_REV_CATEGORY_ITEMS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_REV_CATEGORY_ITEMS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe PriceLists/pipe_PriceLists"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_REV_CATEGORY_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipe_BIA_REV_CATEGORY_V",
				"activities": [
					{
						"name": "Copy BIA_REV_CATEGORY_V",
						"description": "Copy BIA_REV_CATEGORY_V\n(Ignore REV_CATEGORY not on EBS Source - ES: 1/30/20-Field is not used)",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_REV_CATEGORY_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "REV_CATEGORY_SORT_ORDER",
											"type": "Double"
										},
										"sink": {
											"name": "REV_CATEGORY_SORT_ORDER",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "ITEM_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_REV_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_REV_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACCOUNT_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REVENUE_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "REVENUE_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STRUCTURE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "STRUCTURE_ID",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "CATEGORY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CATEGORY_ID",
											"type": "Double"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_REV_CATEGORY_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_REV_CATEGORY_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe PriceLists/pipe_PriceLists"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BICS_PRICE_LIST_DETAIL_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipe_BICS_PRICE_LIST_DETAIL_V",
				"activities": [
					{
						"name": "Copy BICS_PRICE_LIST_DETAIL_V",
						"description": "Copy BICS_PRICE_LIST_DETAIL_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BICS_PRICE_LIST_DETAIL_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PRICE_LIST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PRICE_LIST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "PRICE_LIST_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICE_LIST_START_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICE_LIST_END_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ITEM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_UOM",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_UOM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "ITEM_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PRICE_LINE_START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICE_LINE_START_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PRICE_LINE_END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICE_LINE_END_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BICS_PRICE_LIST_DETAIL_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BICS_PRICE_LIST_DETAIL_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Pipe PriceLists/pipe_PriceLists"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_FixedAssets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_FA_DESCRIPTION_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_FA_DESCRIPTION_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BICS_FA_DESCRIPTION_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_FA_DESCRIPTION_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_FA_DEPRN_PERIODS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_FA_DESCRIPTION_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BICS_FA_DESCRIPTION_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_FA_DEPRN_PERIODS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_PBI_DEPRECIATION_COST_F",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_FA_DEPRN_PERIODS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_PBI_DEPRECIATION_COST_F",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_FA_DEPRN_SUMMARY_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_FA_DEPRN_PERIODS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_FA_DEPRN_SUMMARY_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "Pipe FixedAssets/pipe_FixedAssets"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_PriceLists')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_ITEMS_CODES_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_ITEMS_CODES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_PRICE_LISTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_ITEMS_CODES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PRICE_LISTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_PRICE_LIST_ITEMS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PRICE_LISTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PRICE_LIST_ITEMS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BICS_PRICE_LIST_DETAIL_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PRICE_LIST_ITEMS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_PRICE_LIST_DETAIL_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_REV_CATEGORY_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_REV_CATEGORY_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_REV_CATEGORY_ITEMS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_REV_CATEGORY_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_REV_CATEGORY_ITEMS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "Pipe PriceLists/pipe_PriceLists"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_ITEMS_CODES_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PRICE_LISTS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PRICE_LIST_ITEMS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BICS_PRICE_LIST_DETAIL_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_REV_CATEGORY_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_REV_CATEGORY_ITEMS_V')]"
			]
		}
	]
}