rdc-dev-azdf/PartialArmTemplates/ArmTemplate_4_23_2020_23_7_44.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rdc-dev-azdf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_XLA_AE_APPS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pipe_BIA_XLA_AE_APPS_V",
				"activities": [
					{
						"name": "Copy BIA_XLA_AE_APPS_V",
						"description": "Copy BIA_XLA_AE_APPS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_XLA_AE_APPS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "APPLICATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPLICATION_SHORT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "APPLICATION_SHORT_NAME",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_XLA_AE_APPS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_XLA_AE_APPS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "pipe SubLedger/pipe_SubLedgers"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_XLA_AE_EVENTS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_XLA_AE_EVENTS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_XLA_AE_EVENTS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "XLAE_EVENT_TYPE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "XLAE_EVENT_TYPE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLAE_PROCESS_STATUS_CODE",
											"type": "String"
										},
										"sink": {
											"name": "XLAE_PROCESS_STATUS_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENTITY_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "ENTITY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EVENT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "EVENT_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_XLA_AE_EVENTS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_XLA_AE_EVENTS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "pipe SubLedger/pipe_SubLedgers"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_XLA_AE_HEADERS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_XLA_AE_HEADERS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_XLA_AE_HEADERS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "XLAH_LEDGER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "XLAH_LEDGER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAH_ENTITY_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "XLAH_ENTITY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAH_EVENT_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "XLAH_EVENT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAH_ACCOUNTING_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "XLAH_ACCOUNTING_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "XLAH_JE_CATEGORY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "XLAH_JE_CATEGORY_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLAH_DOC_CATEGORY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "XLAH_DOC_CATEGORY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_XLA_AE_HEADERS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_XLA_AE_HEADERS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "pipe SubLedger/pipe_SubLedgers"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_XLA_AE_LINK_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_XLA_AE_LINK_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_XLA_AE_LINK_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "XLAD_SOURCE_DISTRIBUTION_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "XLAD_SOURCE_DISTRIBUTION_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SOURCE_DISTRIBUTION_ID_NUM_1",
											"type": "String"
										},
										"sink": {
											"name": "SOURCE_DISTRIBUTION_ID_NUM_1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SOURCE_DISTRIBUTION_ID_NUM_2",
											"type": "String"
										},
										"sink": {
											"name": "SOURCE_DISTRIBUTION_ID_NUM_2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SOURCE_DISTRIBUTION_ID_NUM_3",
											"type": "String"
										},
										"sink": {
											"name": "SOURCE_DISTRIBUTION_ID_NUM_3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SOURCE_DISTRIBUTION_ID_NUM_4",
											"type": "String"
										},
										"sink": {
											"name": "SOURCE_DISTRIBUTION_ID_NUM_4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SOURCE_DISTRIBUTION_ID_NUM_5",
											"type": "String"
										},
										"sink": {
											"name": "SOURCE_DISTRIBUTION_ID_NUM_5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ACCOUNTING_LINE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNTING_LINE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACCOUNTING_LINE_CODE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNTING_LINE_CODE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLAD_UNROUNDED_ENTERED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "XLAD_UNROUNDED_ENTERED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAD_UNROUNDED_ENTERED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "XLAD_UNROUNDED_ENTERED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAD_UNROUNDED_ACCOUNTED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "XLAD_UNROUNDED_ACCOUNTED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAD_UNROUNDED_ACCOUNTED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "XLAD_UNROUNDED_ACCOUNTED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAD_EVENT_CLASS_CODE",
											"type": "String"
										},
										"sink": {
											"name": "XLAD_EVENT_CLASS_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REF_AE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "REF_AE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TEMP_LINE_NUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "TEMP_LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_XLA_AE_LINK_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_XLA_AE_LINK_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "pipe SubLedger/pipe_SubLedgers"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_XLA_GL_AP_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_XLA_GL_AP_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_XLA_GL_AP_V",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "JE_LINE_NUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ENTERED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "ENTERED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ENTERED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "ENTERED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PERIOD_YEAR",
											"type": "Decimal"
										},
										"sink": {
											"name": "PERIOD_YEAR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_5",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_6",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_6",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_7",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_8",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_SL_LINK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "GL_SL_LINK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_DISTRIBUTION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "INVOICE_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DISTRIBUTION_LINE_NUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "DISTRIBUTION_LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PO_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VENDOR_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_XLA_GL_AP_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_XLA_GL_AP_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "pipe SubLedger/pipe_SubLedgers"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_XLA_GL_AR_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_XLA_GL_AR_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_XLA_GL_AR_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "JE_LINE_NUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ENTERED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "ENTERED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ENTERED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "ENTERED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PERIOD_YEAR",
											"type": "Decimal"
										},
										"sink": {
											"name": "PERIOD_YEAR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_5",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_6",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_6",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_7",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_8",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_SL_LINK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "GL_SL_LINK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "AE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_TRX_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CUSTOMER_TRX_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_XLA_GL_AR_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_XLA_GL_AR_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "pipe SubLedger/pipe_SubLedgers"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_SubLedgers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_XLA_AE_HEADERS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_XLA_AE_HEADERS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_XLA_AE_APPS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_XLA_AE_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_XLA_AE_APPS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_XLA_AE_EVENTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_XLA_AE_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_XLA_AE_EVENTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_XLA_AE_LINK_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_XLA_AE_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_XLA_AE_LINK_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_stage_BIA_XLA_AE_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_XLA_GL_AR_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BIA_XLA_AE_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_stage_BIA_XLA_AE_TRANS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_XLA_GL_AR_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BIA_XLA_AE_TRANS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_XLA_GL_AP_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_XLA_AE_EVENTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_XLA_AE_LINK_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_XLA_AE_APPS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_XLA_GL_AP_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_XLA_GL_AR_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_XLA_GL_AP_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_XLA_GL_AR_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "pipe SubLedger/pipe_SubLedgers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_XLA_AE_HEADERS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_XLA_AE_APPS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_XLA_AE_EVENTS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_XLA_AE_LINK_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_stage_BIA_XLA_AE_LINES_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_stage_BIA_XLA_AE_TRANS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_XLA_GL_AP_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_XLA_GL_AR_V')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_stage_BIA_XLA_AE_LINES_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BIA_XLA_AE_LINES_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BIA_XLA_AE_LINES_V\nWHERE  LAST_UPDATE_DATE >= sysdate -62\n\tOR XLAL_ACCOUNTING_DATE >= sysdate -62;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.stage_BIA_XLA_AE_LINES_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLR_JE_BATCH_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "GLR_JE_BATCH_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GLR_JE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "GLR_JE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GLR_JE_LINE_NUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "GLR_JE_LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GLR_GL_SL_LINK_TABLE",
											"type": "String"
										},
										"sink": {
											"name": "GLR_GL_SL_LINK_TABLE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GLR_GL_SL_LINK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "GLR_GL_SL_LINK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAL_AE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "XLAL_AE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAL_AE_LINE_NUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "XLAL_AE_LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAL_APPLICATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "XLAL_APPLICATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAL_GL_TRANSFER_MODE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "XLAL_GL_TRANSFER_MODE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLAL_PARTY_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "XLAL_PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAL_PARTY_SITE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "XLAL_PARTY_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAL_PARTY_TYPE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "XLAL_PARTY_TYPE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLAL_UNROUNDED_ACCOUNTED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "XLAL_UNROUNDED_ACCOUNTED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAL_UNROUNDED_ACCOUNTED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "XLAL_UNROUNDED_ACCOUNTED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAL_CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "XLAL_CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAL_ACCOUNTING_CLASS_CODE",
											"type": "String"
										},
										"sink": {
											"name": "XLAL_ACCOUNTING_CLASS_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLAL_ACCOUNTED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "XLAL_ACCOUNTED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAL_ACCOUNTED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "XLAL_ACCOUNTED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLAL_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "XLAL_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLAL_ACCOUNTING_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "XLAL_ACCOUNTING_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "AE_LINE_NUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "AE_LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_XLA_AE_LINES_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_stage_BIA_XLA_AE_LINES_V",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "etlMerge_BIA_XLA_AE_LINES_V",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BIA_XLA_AE_LINES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlMerge_BIA_XLA_AE_LINES_V]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "pipe SubLedger/pipe_SubLedgers"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_stage_BIA_XLA_AE_TRANS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BIA_XLA_AE_TRANS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BIA_XLA_AE_TRANS_V\nWHERE  LAST_UPDATE_DATE >= sysdate -62;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.stage_BIA_XLA_AE_TRANS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "XLATE_ENTITY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "XLATE_ENTITY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLATE_SOURCE_ID_INT_1",
											"type": "String"
										},
										"sink": {
											"name": "XLATE_SOURCE_ID_INT_1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLATE_SOURCE_ID_INT_2",
											"type": "String"
										},
										"sink": {
											"name": "XLATE_SOURCE_ID_INT_2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLATE_SOURCE_ID_INT_3",
											"type": "String"
										},
										"sink": {
											"name": "XLATE_SOURCE_ID_INT_3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLATE_SECURITY_ID_INT_1",
											"type": "String"
										},
										"sink": {
											"name": "XLATE_SECURITY_ID_INT_1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLATE_SECURITY_ID_INT_2",
											"type": "String"
										},
										"sink": {
											"name": "XLATE_SECURITY_ID_INT_2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "XLATE_TRANSACTION_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "XLATE_TRANSACTION_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENTITY_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "ENTITY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "APPLICATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_XLA_AE_TRANS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_stage_BIA_XLA_AE_TRANS_V",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "etlMerge_BIA_XLA_AE_TRANS_V",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BIA_XLA_AE_TRANS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlMerge_BIA_XLA_AE_TRANS_V]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "pipe SubLedger/pipe_SubLedgers"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}