rdc-dev-azdf/linkedTemplates/ArmTemplate_31.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rdc-dev-azdf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_stage_BICS_QUOTE_DETAIL_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BICS_QUOTE_DETAIL_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BICS_QUOTE_DETAIL_V\nWHERE  LAST_UPDATE_DATE >= sysdate -62\n\tOR QUOTE_CREATION_DATE >= sysdate -62;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.stage_BICS_QUOTE_DETAIL_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUOTE_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "QUOTE_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PARTY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_SITE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_SITE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_CREATION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "QUOTE_CREATION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "QUOTE_CREATION_MTH",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_CREATION_MTH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUOTE_EXPIRATION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "QUOTE_EXPIRATION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "QUOTE_EXPIRATION_MTH",
											"type": "String"
										},
										"sink": {
											"name": "QUOTE_EXPIRATION_MTH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_CHANNEL_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SALES_CHANNEL_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_DURATION",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_DURATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_REPRESENTATIVE",
											"type": "String"
										},
										"sink": {
											"name": "SALES_REPRESENTATIVE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_REP_EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "SALES_REP_EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_MANAGER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS_CODE",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PRICE_LIST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE_LIST_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "PRICE_LIST_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SFDC_ID",
											"type": "String"
										},
										"sink": {
											"name": "SFDC_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTRACT_DATES",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACT_DATES",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "LINE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OPTIONAL_YN",
											"type": "String"
										},
										"sink": {
											"name": "OPTIONAL_YN",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_LINE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_LINE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ROW_INCR",
											"type": "Double"
										},
										"sink": {
											"name": "ROW_INCR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SEGMENT1",
											"type": "String"
										},
										"sink": {
											"name": "SEGMENT1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIMARY_UNIT_OF_MEASURE",
											"type": "String"
										},
										"sink": {
											"name": "PRIMARY_UNIT_OF_MEASURE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRIMARY_UOM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PRIMARY_UOM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NRC_UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_EXT_AMT",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_EXT_AMT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_EXT_AMT",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_EXT_AMT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RELATED_ITEM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "RELATED_ITEM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELATED_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "RELATED_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELATED_UOM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "RELATED_UOM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELATED_QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "RELATED_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RELATED_LINE_LIST_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "RELATED_LINE_LIST_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SERVICEABLE_PRODUCT_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "SERVICEABLE_PRODUCT_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_LIST_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_LIST_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_ADJUSTED_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_ADJUSTED_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_ADJUSTED_PERCENT",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_ADJUSTED_PERCENT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SERVICE_START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SERVICE_START_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SERVICE_END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SERVICE_END_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SERVICE_DURATION",
											"type": "Double"
										},
										"sink": {
											"name": "SERVICE_DURATION",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NRC_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "NRC_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MRC_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "MRC_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BICS_QUOTE_DETAIL_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_stage_BICS_QUOTE_DETAIL_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "etlMerge_BICS_QUOTE_DETAIL_V",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BICS_QUOTE_DETAIL_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlMerge_BICS_QUOTE_DETAIL_V]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Pipe Quotes/pipe_Quotes"
				},
				"annotations": [
					"pipe_Quotes"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_stage_BICS_REQUISITION_PROJECTS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BICS_REQUISITION_PROJECTS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BICS_REQUISITION_PROJECTS_V\nWHERE  LAST_UPDATE_DATE\t\t\t>= sysdate -62;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.stage_BICS_REQUISITION_PROJECTS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "REQ_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "REQ_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CREATED_BY",
											"type": "Double"
										},
										"sink": {
											"name": "CREATED_BY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WORK_STARTED",
											"type": "String"
										},
										"sink": {
											"name": "WORK_STARTED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQ_CANCELLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "REQ_CANCELLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQ_CLOSED_CODE",
											"type": "String"
										},
										"sink": {
											"name": "REQ_CLOSED_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EMERGENCY_PO_NUM",
											"type": "String"
										},
										"sink": {
											"name": "EMERGENCY_PO_NUM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PO_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BUYER_NAME",
											"type": "String"
										},
										"sink": {
											"name": "BUYER_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUESTOR_NAME",
											"type": "String"
										},
										"sink": {
											"name": "REQUESTOR_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATED_NAME",
											"type": "String"
										},
										"sink": {
											"name": "CREATED_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQ_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "REQ_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AUTHORIZATION_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "AUTHORIZATION_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NOTE_TO_AUTHORIZER",
											"type": "String"
										},
										"sink": {
											"name": "NOTE_TO_AUTHORIZER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TYPE_LOOKUP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "TYPE_LOOKUP_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_NUM",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQ_LINE_CANCELLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "REQ_LINE_CANCELLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQ_LINE_CLOSED_CODE",
											"type": "String"
										},
										"sink": {
											"name": "REQ_LINE_CLOSED_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_TYPE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT_MEAS_LOOKUP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_MEAS_LOOKUP_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUANTITY_DELIVERED",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTITY_DELIVERED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NEED_BY_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "NEED_BY_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "NOTE_TO_AGENT",
											"type": "String"
										},
										"sink": {
											"name": "NOTE_TO_AGENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CURRENCY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CURRENCY_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RATE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "RATE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "RATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "QUANTITY_CANCELLED",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTITY_CANCELLED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CANCEL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CANCEL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CANCEL_REASON",
											"type": "String"
										},
										"sink": {
											"name": "CANCEL_REASON",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COST_CODE",
											"type": "String"
										},
										"sink": {
											"name": "COST_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COST_CLASS",
											"type": "String"
										},
										"sink": {
											"name": "COST_CLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RECOVERABLE_TAX",
											"type": "Double"
										},
										"sink": {
											"name": "RECOVERABLE_TAX",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NONRECOVERABLE_TAX",
											"type": "Double"
										},
										"sink": {
											"name": "NONRECOVERABLE_TAX",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TASK_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "TASK_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TASK_NAME",
											"type": "String"
										},
										"sink": {
											"name": "TASK_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TASK_DESCRKPTION",
											"type": "String"
										},
										"sink": {
											"name": "TASK_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUISITION_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DELIVER_TO_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "DELIVER_TO_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DELIVER_TO",
											"type": "String"
										},
										"sink": {
											"name": "DELIVER_TO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VENDOR_NAME",
											"type": "String"
										},
										"sink": {
											"name": "VENDOR_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VENDOR_ADDRESS_LINE1",
											"type": "String"
										},
										"sink": {
											"name": "VENDOR_ADDRESS_LINE1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VENDOR_CITY",
											"type": "String"
										},
										"sink": {
											"name": "VENDOR_CITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VENDOR_STATE",
											"type": "String"
										},
										"sink": {
											"name": "VENDOR_STATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VENDOR_ZIPCODE",
											"type": "String"
										},
										"sink": {
											"name": "VENDOR_ZIPCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BICS_REQUISITION_PROJECTS_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_stage_BICS_REQUISITION_PROJECTS_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "etlMerge_BICS_REQUISITION_PROJECTS_V",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BICS_REQUISITION_PROJECTS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlMerge_BICS_REQUISITION_PROJECTS_V]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Pipe Projects/pipe_Projects"
				},
				"annotations": [
					"pipe_Projects"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_stage_MRTG_BILLING')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SELECT * FROM mrtgbilling.mrtg_billing WHERE DATE_UPDATED >= sysdate -93;",
				"activities": [
					{
						"name": "stage_MRTG_BILLING_10_days",
						"description": "Stage Last N days\n(Set to 10 for testing - every 60 minutes)",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource",
								"query": "SELECT   mrtg_id\t\n\t\t,customer_id\n\t\t,router_id\n\t\t,interface_id\n\t\t,billing_date\n\t\t,billing_usage\n\t\t,date_created\n\t\t,date_updated\n\t\t,created_by\n\t\t,updated_by\n\t\t,round(billing_usage_in)\tbilling_usage_in\n\t\t,round(billing_usage_out)\tbilling_usage_out\n\t\t,billing_id\n\t\t,campus\n\t\t,product_line\n\t\t,period_name\n\t\t,file_name\nFROM\tmrtgbilling.mrtg_billing\nwhere date_updated between current_timestamp - interval '10 day' and current_timestamp\n\n\n"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.stage_MRTG_BILLING",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "mrtg_id",
											"type": "String"
										},
										"sink": {
											"name": "MRTG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "customer_id",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMER_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "router_id",
											"type": "String"
										},
										"sink": {
											"name": "ROUTER_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "interface_id",
											"type": "String"
										},
										"sink": {
											"name": "INTERFACE_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "billing_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "BILLING_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "billing_usage",
											"type": "String"
										},
										"sink": {
											"name": "BILLING_USAGE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "date_created",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATE_CREATED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "date_updated",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATE_UPDATED",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "created_by",
											"type": "String"
										},
										"sink": {
											"name": "CREATED_BY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "updated_by",
											"type": "String"
										},
										"sink": {
											"name": "UPDATED_BY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "billing_usage_in",
											"type": "String"
										},
										"sink": {
											"name": "BILLING_USAGE_IN",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "billing_usage_out",
											"type": "String"
										},
										"sink": {
											"name": "BILLING_USAGE_OUT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "billing_id",
											"type": "String"
										},
										"sink": {
											"name": "BILLING_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "campus",
											"type": "String"
										},
										"sink": {
											"name": "CAMPUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "product_line",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT_LINE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "period_name",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "file_name",
											"type": "String"
										},
										"sink": {
											"name": "FILE_NAME",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "pmrtg_MRTG_BILLING",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_stage_MRTG_BILLING",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "etlMerge_MRTG_BILLING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_MRTG_BILLING_10_days",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlMerge_MRTG_BILLING]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Pipe MRTG/pipe_MRTG"
				},
				"annotations": [
					"pipe_MRTG"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_xCAMP_stage_BIA_GL_HEADERS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BIA_GL_HEADERS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BIA_GL_HEADERS_V\nWHERE LAST_UPDATE_DATE >= sysdate -62;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE xCAMP.stage_BIA_GL_HEADERS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "JE_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "JE_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"name": "STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACTUAL_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "ACTUAL_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "JE_BATCH_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_BATCH_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RUNNING_TOTAL_DR",
											"type": "Double"
										},
										"sink": {
											"name": "RUNNING_TOTAL_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RUNNING_TOTAL_CR",
											"type": "Double"
										},
										"sink": {
											"name": "RUNNING_TOTAL_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RUNNING_TOTAL_ACCOUNTED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "RUNNING_TOTAL_ACCOUNTED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RUNNING_TOTAL_ACCOUNTED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "RUNNING_TOTAL_ACCOUNTED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_GL_HEADERS_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "xCAMP_stage_BIA_GL_HEADERS_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "etlMerge_BIA_GL_HEADERS_V",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BIA_GL_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[xCAMP].[etlMerge_BIA_GL_HEADERS_V]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Pipe xCAMP/pipe_xCAMP"
				},
				"annotations": [
					"pipe_xCAMP"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_xCAMP_stage_BIA_GL_LINES_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BIA_GL_LINES_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BIA_GL_LINES_V\nWHERE LAST_UPDATE_DATE >= sysdate -62;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE xCAMP.stage_BIA_GL_LINES_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "JE_LINE_NUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LEDGER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "LEDGER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"name": "STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENTERED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "ENTERED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ENTERED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "ENTERED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ACCOUNTED_DR",
											"type": "Double"
										},
										"sink": {
											"name": "ACCOUNTED_DR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ACCOUNTED_CR",
											"type": "Double"
										},
										"sink": {
											"name": "ACCOUNTED_CR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_1",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_2",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_3",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REFERENCE_4",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCE_4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PARTY_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PARTY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PARTY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "JE_BATCH_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "JE_BATCH_ID",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_GL_LINES_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "xCAMP_stage_BIA_GL_LINES_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "etlMerge_BIA_GL_LINES_V",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BIA_GL_LINES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[xCAMP].[etlMerge_BIA_GL_LINES_V]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Pipe xCAMP/pipe_xCAMP"
				},
				"annotations": [
					"pipe_xCAMP"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_xCAMP_stage_BIA_POWER_KW_CONTRACT_LINE_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "etlUpdate_PowerContractLine_OrgAndOfin",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy BIA_POWER_KW_CONTRACT_LINE_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[xCAMP].[etlUpdate_PowerContractLine_OrgAndOfin]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "etlUpdate_PowerContractLine_PercSqftAllocation",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "etlUpdate_PowerContractLine_OrgAndOfin",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[xCAMP].[etlUpdate_PowerContractLine_PercSqftAllocation]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "etlUpdate_PowerContractLine_PopTableTotalSqft",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "etlUpdate_PowerContractLine_PercSqftAllocation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[xCAMP].[etlUpdate_PowerContractLine_PopTableTotalSqft]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy BIA_POWER_KW_CONTRACT_LINE_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE xCAMP.stage_BIA_POWER_KW_CONTRACT_LINE_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PERIOD_MONTH",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_MONTH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OFIN_CUSTOMER_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "OFIN_CUSTOMER_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SITE_USE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "SITE_USE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OFIN_CUSTOMER_NAME",
											"type": "String"
										},
										"sink": {
											"name": "OFIN_CUSTOMER_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SERVICE_CONTRACT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "SERVICE_CONTRACT_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_LINE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_LINE_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BILL_CONTRACT_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "BILL_CONTRACT_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ITEM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "INVENTORY_ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BUILDING_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "BUILDING_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENCLOSURE_LOCATION_LIST",
											"type": "String"
										},
										"sink": {
											"name": "ENCLOSURE_LOCATION_LIST",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CURRENT_MAX_KW",
											"type": "Double"
										},
										"sink": {
											"name": "CURRENT_MAX_KW",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FINAL_MAX_KW",
											"type": "Double"
										},
										"sink": {
											"name": "FINAL_MAX_KW",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "KW_USED",
											"type": "Double"
										},
										"sink": {
											"name": "KW_USED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "KWH_SMOOTHED",
											"type": "Double"
										},
										"sink": {
											"name": "KWH_SMOOTHED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "KWH_ACTUAL",
											"type": "Double"
										},
										"sink": {
											"name": "KWH_ACTUAL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SF_CONTRACTED",
											"type": "Double"
										},
										"sink": {
											"name": "SF_CONTRACTED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SF_BUILT",
											"type": "Double"
										},
										"sink": {
											"name": "SF_BUILT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BCL_ID",
											"type": "Double"
										},
										"sink": {
											"name": "BCL_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BILL_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "BILL_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RUN_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "RUN_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PCT_ALLOCATION",
											"type": "Double"
										},
										"sink": {
											"name": "PCT_ALLOCATION",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CURRENT_MRC",
											"type": "Double"
										},
										"sink": {
											"name": "CURRENT_MRC",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FINAL_MRC",
											"type": "Double"
										},
										"sink": {
											"name": "FINAL_MRC",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_POWER_KW_CONTRACT_LINE_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "xCAMP_stage_BIA_POWER_KW_CONTRACT_LINE_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Pipe xCAMP/pipe_xCAMP"
				},
				"annotations": [
					"pipe_xCAMP"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_xCAMP_stage_BIA_POWER_KW_ENCL_MONTH_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BIA_POWER_KW_ENCL_MONTH_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE xCAMP.stage_BIA_POWER_KW_ENCL_MONTH_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PERIOD_MONTH",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_MONTH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLIENT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "CLIENT_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOC_PATH",
											"type": "String"
										},
										"sink": {
											"name": "LOC_PATH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AVG_SQUARE_FEET_INUSE",
											"type": "Double"
										},
										"sink": {
											"name": "AVG_SQUARE_FEET_INUSE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "IIC_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "IIC_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BILL_CONTRACT_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "BILL_CONTRACT_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OFIN_CUSTOMER_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "OFIN_CUSTOMER_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AVG_KW_READING_VALUE",
											"type": "Double"
										},
										"sink": {
											"name": "AVG_KW_READING_VALUE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "KWH",
											"type": "Double"
										},
										"sink": {
											"name": "KWH",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BILL_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "BILL_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SF_BUILT",
											"type": "Double"
										},
										"sink": {
											"name": "SF_BUILT",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_POWER_KW_ENCL_MONTH_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "xCAMP_stage_BIA_POWER_KW_ENCL_MONTH_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "etlUpdate_PowerEnclMonth_PostUpdates",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BIA_POWER_KW_ENCL_MONTH_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[xCAMP].[etlUpdate_PowerEnclMonth_PostUpdates]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Pipe xCAMP/pipe_xCAMP"
				},
				"annotations": [
					"pipe_xCAMP"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BudgetForecast')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_stage_BICS_BILLING_FORECAST_MV",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BICS_BILLING_FORECAST_MV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe BudgetForecast/pipe_BudgetForecast"
				},
				"annotations": [
					"Parent",
					"pipe_BudgetForecast"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_CAMP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to run all CAMP related pipelines \ntest pull request and branch merge h",
				"activities": [
					{
						"name": "pipe_BIA_ORGANIZATIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_ORGANIZATIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_FLEX_RWT_PROJECT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_ORGANIZATIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_FLEX_RWT_PROJECT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BIA_GL_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_stage_BIA_GL_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_GL_CAMP_CATEGORY_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_GL_CODE_COMBINATIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_stage_BIA_POWER_KW_ENCL_MONTH_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_FLEX_RWT_PROJECT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BIA_GL_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BIA_GL_HEADERS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BIA_GL_HEADERS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_GL_CODE_COMBINATIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_CODE_COMBINATIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_GL_CAMP_CATEGORY_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_CAMP_CATEGORY_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BIA_POWER_KW_CONTRACT_LINE_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_oac_to_aoac_BIA_POWER_KW_CONTRACT_LINE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BIA_POWER_KW_ENCL_MONTH_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_stage_BIA_POWER_KW_CONTRACT_LINE_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_oac_to_aoac_BIA_POWER_KW_ENCL_MONTH_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe CAMP/pipe_CAMP"
				},
				"annotations": [
					"Parent",
					"pipe_CAMP",
					"pipe_Combo_GLandCAMP"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Customers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_CUST_SITES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_CUSTOMER_ACCOUNTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_CUST_SITES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_CUSTOMER_ACCOUNTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_CUSTOMER_ACCOUNTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_AR_CUSTOMER_TRX_HDR_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_CUST_SITES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AR_CUSTOMER_TRX_HDR_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_AR_CUSTOMER_TRX_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_AR_CUSTOMER_TRX_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AR_CUSTOMER_TRX_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_AR_CUSTOMER_TRX_DIST_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_AR_CUSTOMER_INVOICE_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_AR_CUSTOMER_RECEIPTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_stage_BIA_CUSTOMER_REV_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AR_CUSTOMER_TRX_DIST_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_AR_CUSTOMER_INVOICE_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_AR_CUSTOMER_TRX_LINES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AR_CUSTOMER_INVOICE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_AR_CUSTOMER_RECEIPTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_AR_CUSTOMER_TRX_LINES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AR_CUSTOMER_RECEIPTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_AR_CUSTOMER_TRX_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_AR_CUSTOMER_TRX_HDR_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AR_CUSTOMER_TRX_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BIA_CUSTOMER_REV_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_AR_CUSTOMER_TRX_LINES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BIA_CUSTOMER_REV_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe Customers/pipe_Customers"
				},
				"annotations": [
					"Parent",
					"pipe_Customers"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Employees')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_EMPLOYEES_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_EMPLOYEES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_ORG_LOCATIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_ORG_LOCATIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_EMPLOYEE_PERSONNEL_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_ORG_LOCATIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_EMPLOYEES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_EMPLOYEE_PERSONNEL_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_EMPLOYEE_LICENSES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_EMPLOYEE_PERSONNEL_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_EMPLOYEE_LICENSES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BICS_IPROCUREMENT_LICENSE_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_EMPLOYEE_PERSONNEL_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BICS_IPROCUREMENT_LICENSE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe Employees/pipe_Employees"
				},
				"annotations": [
					"Parent",
					"pipe_Employees"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Employees_FromMatrix')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_PBI_MATRIX_DEPT_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_PBI_MATRIX_DEPT_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_PBI_MATRIX_EMP_TYPE_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_PBI_MATRIX_EMP_TYPE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_PBI_MATRIX_EMPLOYEE_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_PBI_MATRIX_DEPT_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_PBI_MATRIX_EMP_TYPE_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_PBI_MATRIX_EMPLOYEE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe Employees/pipe_Employees_FromMatrix"
				},
				"annotations": [
					"Parent"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Expenditures')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_EXPENDITURE_TYPES_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_EXPENDITURE_TYPES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_EXPENDITURES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_EXPENDITURE_TYPES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_EXPENDITURES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_EXPENDITURE_ITEMS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_EXPENDITURES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_EXPENDITURE_ITEMS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_EXPENDITURE_COMMENTS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_EXPENDITURE_ITEMS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_EXPENDITURE_COMMENTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_EXPENDITURE_DIST_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_EXPENDITURE_ITEMS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_EXPENDITURE_DIST_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe Expenditures/pipe_Expenditures"
				},
				"annotations": [
					"Parent",
					"pipe_Expenditures"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_FixedAssets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_FA_DESCRIPTION_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_FA_DESCRIPTION_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BICS_FA_DESCRIPTION_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_FA_DESCRIPTION_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_FA_DEPRN_PERIODS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_FA_DESCRIPTION_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BICS_FA_DESCRIPTION_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_FA_DEPRN_PERIODS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_FA_DEPRN_SUMMARY_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_FA_DEPRN_PERIODS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_FA_DEPRN_SUMMARY_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe FixedAssets/pipe_FixedAssets"
				},
				"annotations": [
					"Parent",
					"pipe_FixedAssets"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_GeneralLedger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": " ",
				"activities": [
					{
						"name": "stage_BIA_GL_HEADERS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BIA_GL_ACCOUNTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "BIA_GL_CODE_COMBINATIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "BIA_GL_BATCHES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "BIA_GL_DEPARTMENTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "BIA_GL_LOCATIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "BIA_GL_PERIODS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_GL_SOB_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BIA_GL_HEADERS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "stage_BIA_GL_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "stage_BIA_GL_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BIA_GL_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_ACCOUNTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_ACCOUNTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_CODE_COMBINATIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_CODE_COMBINATIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_BATCHES_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_BATCHES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_DEPARTMENTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_DEPARTMENTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_LOCATIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_LOCATIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_PERIODS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_PERIODS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_GL_SOB_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_SOB_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_GL_LINES_AR_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "stage_BIA_GL_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_LINES_AR_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe GeneralLedger/pipe_GeneralLedger"
				},
				"annotations": [
					"Parent",
					"pipe_GeneralLedger",
					"pipe_Combo_GLandCAMP"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_GeneralLedgerJournals')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BICS_GL_JOURNALS_BATCH_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_GL_JOURNALS_BATCH_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BICS_GL_JOURNALS_DTL_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_GL_JOURNALS_DTL_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BICS_GL_JOURNALS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_GL_JOURNALS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BICS_GL_JOURNALS_HEADER_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BICS_GL_JOURNALS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BICS_GL_JOURNALS_DTL_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BICS_GL_JOURNALS_BATCH_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_GL_JOURNALS_HEADER_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BICS_GL_JOURNALS_LINE_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BICS_GL_JOURNALS_HEADER_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BICS_GL_JOURNALS_LINE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe GeneralLedger/pipe_GeneralLedgerJournals"
				},
				"annotations": [
					"Parent",
					"pipe_GeneralLedgerJournals",
					"pipe_Combo_GLandCAMP"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_GeneralLedger_Singles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_GL_LINES_CAMP_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_LINES_CAMP_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe GeneralLedger/pioe_GeneralLedger_Singles"
				},
				"annotations": [
					"Parent",
					"pipe_GeneralLedger_Singles",
					"pipe_Combo_GLandCAMP"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_MRTG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_stage_MRTG_BILLING",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_MRTG_BILLING",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe MRTG/pipe_MRTG"
				},
				"annotations": [
					"Parent",
					"pipe_MRTG"
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_stage_MRTG_BILLING')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_PriceLists')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_ITEMS_CODES_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_ITEMS_CODES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PRICE_LISTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_ITEMS_CODES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PRICE_LISTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PRICE_LIST_ITEMS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PRICE_LISTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PRICE_LIST_ITEMS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BICS_PRICE_LIST_DETAIL_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PRICE_LIST_ITEMS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_PRICE_LIST_DETAIL_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_REV_CATEGORY_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_REV_CATEGORY_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_REV_CATEGORY_ITEMS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_REV_CATEGORY_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_REV_CATEGORY_ITEMS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe PriceLists/pipe_PriceLists"
				},
				"annotations": [
					"Parent",
					"pipe_PriceLists"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_Projects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_PROJECTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PROJECTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PA_BUDGET_VERSIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PA_PROJECT_CUSTOMERS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PA_BUDGET_VERSIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PA_TASKS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PA_PROJECT_CUSTOMERS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PA_TASKS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_EXPENDITURE_ACCUM_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PA_BUDGET_VERSIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_PA_TASKS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_EXPENDITURE_ACCUM_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PROJECTS_CIP_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PROJECTS_CIP_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PA_PROJECT_CUSTOMERS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PROJECTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_PROJECTS_CIP_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PA_PROJECT_CUSTOMERS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BICS_PROJECT_CLASSES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PROJECTS_CIP_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_PROJECT_CLASSES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BICS_REQUISITION_PROJECTS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BICS_PROJECT_CLASSES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BICS_REQUISITION_PROJECTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe Projects/pipe_Projects"
				},
				"annotations": [
					"Parent",
					"pipe_Projects"
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_stage_BICS_REQUISITION_PROJECTS')]"
			]
		}
	]
}